body {
  margin: 0;
  font-family: "Open Sans", sans-serif; }

* {
  outline: none !important; }

.clear {
  clear: both; }

.slide {
  overflow: hidden;
  padding: 0; }

div#slider {
  overflow: hidden; }

div#slider figure img {
  width: 20%;
  float: left; }

div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite; }

@keyframes slidy {
  0% {
    left: 0%; }
  20% {
    left: 0%; }
  25% {
    left: -100%; }
  45% {
    left: -100%; }
  50% {
    left: -200%; }
  70% {
    left: -200%; }
  75% {
    left: -300%; }
  95% {
    left: -300%; }
  100% {
    left: -400%; } }
.logo {
  text-align: center;
  width: 250px;
  height: 224px;
  margin: 0 auto;
  position: relative; }

#flag {
  width: 100%;
  height: 56px;
  padding-top: 82px; }

#flag:after {
  content: "";
  width: 0;
  height: 0;
  border-top: 82px solid rgba(255, 255, 255, 0.4);
  border-left: 125px solid transparent;
  border-right: 125px solid transparent; }

/*top-nav*/
.wrapper {
  box-shadow: inset 0px 58px 79px -13px #0A0A0A, 0px 0px 0px 0px #242424;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 237px;
  z-index: 8; }

.imglogo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

/*logo*/
.Faded_background {
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: inset 0px 0px 53px -100px #ABABAB, 0px -39px 45px 11px #242424;
  width: 100%;
  height: 150px; }

/*background-navbar-text*/
.background {
  background-image: -moz-linear-gradient(90deg, #495970 0%, #302f3b 100%);
  background-image: -webkit-linear-gradient(90deg, #495970 0%, #302f3b 100%);
  background-image: -ms-linear-gradient(90deg, #495970 0%, #302f3b 100%);
  opacity: 0.902;
  z-index: 111;
  height: 40px;
  width: 100%; }

.navbar-default .navbar-toggle .icon-bar {
  background-color: white !important; }

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: transparent; }

.navbar-default .navbar-toggle {
  border: none; }

.navbar-default .navbar-collapse {
  text-align: center; }
  .navbar-default .navbar-collapse .navbar-nav {
    float: none;
    display: inline-block; }
    .navbar-default .navbar-collapse .navbar-nav li a {
      color: white !important;
      font-size: 18px;
      font-weight: 300;
      transition: all .1s ease-in; }
      .navbar-default .navbar-collapse .navbar-nav li a:hover {
        font-weight: 800; }

.info {
  float: left;
  margin-left: 50px; }
  .info a {
    margin-right: 15px;
    font-size: 11px;
    color: #fff;
    text-transform: uppercase;
    line-height: 2.182;
    text-shadow: 0px 3px 8px rgba(0, 0, 0, 0.71);
    -moz-transform: matrix(0.98308, 0, 0, 0.95756, 0, 0);
    -webkit-transform: matrix(0.98308, 0, 0, 0.95756, 0, 0);
    -ms-transform: matrix(0.98308, 0, 0, 0.95756, 0, 0); }
  .info img {
    margin-right: 10px; }

.lang {
  position: absolute;
  top: 0px;
  right: 50px; }
  .lang a {
    margin-right: 15px;
    font-size: 11px;
    color: #fff;
    text-transform: uppercase;
    line-height: 2.182;
    text-shadow: 0px 3px 8px rgba(0, 0, 0, 0.71);
    -moz-transform: matrix(0.98308, 0, 0, 0.95756, 0, 0);
    -webkit-transform: matrix(0.98308, 0, 0, 0.95756, 0, 0);
    -ms-transform: matrix(0.98308, 0, 0, 0.95756, 0, 0); }
  .lang span {
    margin-right: 10px; }

.navbar {
  border: none;
  border-radius: 0px; }

.row1 {
  margin-top: 58px;
  text-align: -webkit-center; }

.btn, .btn2 {
  border-radius: 10px;
  background-image: -moz-linear-gradient(90deg, #495970 0%, #302f3b 100%);
  background-image: -webkit-linear-gradient(90deg, #495970 0%, #302f3b 100%);
  background-image: -ms-linear-gradient(90deg, #495970 0%, #302f3b 100%);
  width: 200px;
  height: 37px;
  color: white;
  font-size: 20px;
  line-height: 0.704; }

.btntext {
  margin-top: 50px;
  text-align: center; }
  .btntext p {
    font-size: 16px;
    color: #343434;
    line-height: 1.5; }

.text {
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: justify; }

.Section_background {
  background-image: url("Section background.png");
  height: 630px;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center; }

.btn2 {
  margin: 50px auto; }

.product {
  width: 216px;
  height: 335px;
  margin-left: 30px; }
  .product .img-responsive {
    margin: auto; }

.img-thumbnail {
  border: 2px solid #1d1c1c;
  border-radius: 14.25rem;
  position: relative;
  z-index: 8; }

.information {
  border-radius: 20px;
  background-image: -moz-linear-gradient(90deg, #495970 0%, #302f3b 100%);
  background-image: -webkit-linear-gradient(90deg, #495970 0%, #302f3b 100%);
  background-image: -ms-linear-gradient(90deg, #495970 0%, #302f3b 100%);
  width: 214px;
  height: 183px; }
  .information h6 {
    padding-top: 41px;
    margin-top: -32px;
    font-size: 16.487px;
    color: white;
    line-height: 0.974;
    text-align: center;
    -moz-transform: matrix(0.97394, 0, 0, 0.97368, 0, 0);
    -webkit-transform: matrix(0.97394, 0, 0, 0.97368, 0, 0);
    -ms-transform: matrix(0.97394, 0, 0, 0.97368, 0, 0); }

.table {
  font-size: 13px;
  color: white;
  line-height: 13px; }
  .table td, .table tr {
    border: none;
    text-align: -webkit-auto; }

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
  padding: 5px 20px;
  line-height: 14px;
  vertical-align: top;
  border: none; }

/*
sliderCss*/
.sliderhome {
  margin: auto;
  max-height: 400px;
  overflow-y: hidden; }

.sliderhome .item {
  margin-left: 30px;
  margin-right: 30px;
  outline: none !important; }

.product {
  user-select: none;
  outline: none; }

.item.slick-current {
  margin-left: 0px !important; }

.slick-arrow {
  display: none !important; }

.footer-links {
  background-color: #1d1d1d;
  padding-top: 15px;
  padding-bottom: 15px; }
  .footer-links ul {
    list-style-type: none; }
    .footer-links ul li:last-child a {
      border-right: none; }
    .footer-links ul li a {
      line-height: 10px;
      padding-left: 5px;
      padding-right: 5px;
      display: inline-block;
      float: left;
      color: white;
      font-size: 11px;
      border-right: 1px solid white;
      text-transform: uppercase; }

.popover-title, .popover-content {
  color: #000; }

.call-div {
  height: 26px;
  cursor: pointer;
  user-select: none; }
  .call-div .call {
    height: 100%;
    width: 37px;
    background: url("../PHONE.png") no-repeat center white; }
  .call-div .arrow {
    height: 100%;
    width: 37px;
    background: url("../ARROW.png") no-repeat center white; }
  .call-div .call-text {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    height: 100%;
    font-size: 11px;
    color: white;
    font-weight: 300;
    background-image: -moz-linear-gradient(90deg, #495970 0%, #302f3b 100%);
    background-image: -webkit-linear-gradient(90deg, #495970 0%, #302f3b 100%);
    background-image: -ms-linear-gradient(90deg, #495970 0%, #302f3b 100%); }

.container-fluid.footer {
  background-color: #000000;
  padding-top: 40px;
  padding-bottom: 40px; }
  .container-fluid.footer .large-title {
    font-size: 17px;
    font-weight: 800;
    text-transform: uppercase;
    color: white; }
  .container-fluid.footer .small-title {
    font-size: 13px;
    color: white;
    text-transform: uppercase;
    font-weight: 300; }
  .container-fluid.footer .xs-title {
    margin-left: 30px;
    margin-right: 30px;
    font-size: 10px;
    color: #a0a0a0; }
  .container-fluid.footer .row {
    border-bottom: 1px solid #46556a;
    padding-bottom: 20px;
    padding-top: 20px; }
  .container-fluid.footer .row:last-child {
    border-bottom: none; }
  .container-fluid.footer .footer-copyright {
    color: #878787;
    font-size: 10px; }

#nav-icon3 {
  width: 50px;
  height: 35px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  margin-bottom: 0px; }

#nav-icon3 span {
  display: block;
  position: absolute;
  height: 5px;
  width: 80%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  right: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }

/* Icon 3 */
#nav-icon3 span:nth-child(1) {
  top: 0px; }

#nav-icon3 span:nth-child(2), #nav-icon3 span:nth-child(3) {
  top: 12px; }

#nav-icon3 span:nth-child(4) {
  top: 24px; }

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%; }

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%; }

/*# sourceMappingURL=style.css.map */
